body{
    font: 18px/36px 'Bebas Neue', arial, sans-serif ; /* fontsize/fontheight font family*/
    background-color: gainsboro;
}

h1{
    font-size: 80px;
    margin: 50px 0;
    text-align: center;
    text-shadow: 1px 1px 1px white;
}

.container{
    width: 600px;
    background-color: white;
    margin: auto;
    padding: 25px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, .3);
    border-radius: 5px;
}

.gallery li {
    width: 120px;
    height: 120px;
    /* overflow: hidden;   */
    border: 5px solid #666; 
    float: left;
    margin-right: 20px;
    position: relative;
}

.gallery li,
.gallery li img,
.gallery li span{
    border-radius: 50%;
}

.gallery li span{
    display: block;
    width: 120px;
    height: 120px;
    background-color: rgba(200, 200, 200, .7);
    position:absolute;
    top: 0;
    text-align: center;
    line-height: 120px;
    color: #333;
    text-shadow: 1px 1px 1px gainsboro;
    transform: scale(0) rotate(0);
    opacity: 0;
    transition: 0.3s;
}

.gallery li a:hover span{
    opacity: 1;
    transform: scale(1) rotate(360deg);
}


.clear{
    clear: both;
}

/* Overlay */
.overlay{
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    z-index: 9999;
    transition: 1s;
    text-align: center;
    padding: 100px 0 ;
}

.overlay:target{
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);

}

.overlay img{
    max-height: 100%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.459);
}

.overlay:target img{
    animation: fade 1s;
    border-radius: 0;
}

.overlay .close {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -30px;
    color: white;
    text-decoration: none;
    background-color: black;
    border: 1px solid white;
    line-height: 14px;
    padding: 10px;
    opacity: 0;
}

.overlay:target .close{
    animation: slideDownFade 0.5s 1s forwards;
}

/* Navigasi */
.next, .prev{
    width: 80px;
    height: 80px;
    background-image: url(../img/thumbs/next.png);
    position: absolute;
    text-indent: -9999px;
    top: 40%;
    margin-left: 50px;
    opacity: 0;
}

.prev{
    background-image: url(../img/thumbs/prev.png);
    margin-left: -110px;
}

.overlay:target .next{
    animation: fade .5s .5s forwards;
}

.overlay:target .prev{
    animation: fade .5s .5s forwards;
}


/* animasi */

@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
@keyframes zoomDanFade{
    0%{
        transform: scale(0);
        opacity: 0;
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes slideDownFade {
    0%{
        opacity: 0;
        margin-top: -12px;
    }

    100%{
        opacity: 1;
        margin-top: 0;
    }
    
}